<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Lotto Page</title>
</head>
<body>
<h1>Lotto Numbers</h1>

<h2>Amount correct: <%= correct %></h2>

<table>
    <tr>
        <td>Picked Numbers: </td>
        <td><%= numbers[0] %></td>
        <td><%= numbers[1] %></td>
        <td><%= numbers[2] %></td>
        <td><%= numbers[3] %></td>
        <td><%= numbers[4] %></td>
        <td><%= numbers[5] %></td>
        <td><%= numbers[6] %></td>
    </tr>
    <tr>
        <td>Your Numbers: </td>
        <td><%= userNumbers[0] %></td>
        <td><%= userNumbers[1] %></td>
        <td><%= userNumbers[2] %></td>
        <td><%= userNumbers[3] %></td>
        <td><%= userNumbers[4] %></td>
        <td><%= userNumbers[5] %></td>
        <td><%= userNumbers[6] %></td>
    </tr>
</table>
</body>
